<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Text.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Text.NET.Properties.Settings>
            <setting name="LastFormSize" serializeAs="String">
                <value>600, 460</value>
            </setting>
            <setting name="LastFormPos" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="setting_general_01" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_general_02" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="setting_general_03" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setting_general_04" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting_tab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="openwith_file" serializeAs="String">
                <value />
            </setting>
            <setting name="firstopen" serializeAs="String">
                <value>True</value>
            </setting>
        </Text.NET.Properties.Settings>
    </userSettings>
</configuration>